src/main/resources/camelfood.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="camelfood" type="camelfoodType"/>
  <xs:complexType name="camelfoodType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:float" name="amount"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>