xsd2jaxb/messages/processed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="responce" type="responce"/>
  <xs:complexType name="responce">
    <xs:sequence>
      <xs:element type="xs:boolean" name="processed"/>
      <xs:element type="xs:dateTime" name="time" minOccurs="0" maxOccurs="1"/>
      <xs:element type="xs:string" name="message"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
